.background-color {
    background-color: #fae8e8;
}

/* .carousel .carousel-item {
    height: 500px;
}

.carousel-item img {

    object-fit: cover;

    max-height: 400px;
    max-width: 400px;

} */